/* the styles for the html elements */
$backgroundLG : rgb(207, 200, 200);
$backgroundG : rgb(139, 134, 134);

body {
    background-color: $backgroundLG;
}

#container {
    /* margin-top: 0; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color:rgb( 248,249,250);
    border: 1px solid black;
    padding: .5em 2em;
}