@import "fonts";
@import "header";
@import "footer";
@import "body";
@import "table";
@import "recordManager";
@import "links";


.sect1
{
    margin-left: 100px;
}

aside {
    float: left;
    width: 150px;
    padding-right:.25em;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-right:0;
    li {
        padding-bottom: 0.5em;
    }
} */

section {
    float: left;
    //width: 800PX;
    padding-bottom: 1.5em;
}


ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}



form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}

